@font-face{
    font-family:Suisse ;
    src: url(./fonts/SuisseIntl-Book.woff);
    font-weight: normal;
}
@font-face{
    font-family:Suisse ;
    src: url(./fonts/SuisseIntl-Bold.woff);
    font-weight: bold;
}


html{
    height: 100vh;
    margin: 0;
}

body{
    background-color: #4a6773;
    color: white;
    max-width :540px; 
    margin-right: auto;
    margin-left: auto;
    padding: 36px;
    box-sizing: border-box;
font-family: Suisse;
text-align: center;
}

.header{
    width: 100%;
}
.logo{
font-weight: bold;
font-size: 24px;
width: 180px; 
display: inline-block;
}
.button{
    width: 130px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 150px;
    cursor: pointer;
}
.image{
width: 80%;
margin-bottom: 60px;
margin-top: 50px;
}
.advice{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 170px;
    line-height: 1.1;
}
.footer{
    width: 200px;
font-size: 16px;
margin-right: auto;
margin-left: auto;
}